body {
    margin: 0;
    padding: 0;
    font-family: "Nobile","Helvetica","Arial",serif;
    background-color: black;
    color: white;
    background-image: url('../img/page_background.png')
}

table,tr,td,tbody,form {
    margin: 0;
    padding: 0
}

img {
    border: 0
}

input {
    -webkit-appearance: none
}

.window {
    width: 93%;
    max-width: 93%;
    overflow: hidden;
    margin: 10px auto;
    padding: 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: white;
    border: 1px solid #d1d1d1
}

.window_title {
    background-color: #192451;
    color: white;
    padding: 12px 0 14px 9px;
    font-size: 20px;
    font-weight: normal;
    text-align: left!important;
    border-radius-topright: 8px;
    -o-border-radius-topright: 8px;
    -icab-border-radius-topright: 8px;
    -khtml-border-radius-topright: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -o-border-top-right-radius: 8px;
    -icab-border-top-right-radius: 8px;
    -khtml-border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-radius-topleft: 8px;
    -o-border-radius-topleft: 8px;
    -icab-border-radius-topleft: 8px;
    -khtml-border-radius-topleft: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -o-border-top-left-radius: 8px;
    -icab-border-top-left-radius: 20px;
    -khtml-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px
}

.page_header {
    background-image: url('../img/header_bar_background.jpg');
    background-repeat: repeat-x;
    width: 100%;
    height: 42px;
    overflow: hidden;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid #e45c2f;
    border-top: 1px solid black
}

.notice {
    background-color: #e45c2f
}

.notice_msg {
    padding: 10px;
    color: #000
}

.page_header a,.page_header a:visited,.page_header a:hover {
    color: white
}

.page_header .header_img {
    margin-top: 8px;
    margin-left: 10px
}

.google_search .form_wrapper {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #6b728f;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background-image: url('../img/google_logo_background.png');
    background-repeat: no-repeat;
    background-position: 8px 8px
}

.google_search table {
    width: 100%
}

.google_search .text_input {
    width: 100%;
    height: 37px;
    font-size: 24px;
    vertical-align: middle;
    border: 0;
    background-color: transparent
}

.google_search .submit_input {
    vertical-align: middle;
    width: 36px;
    height: 39px
}

.google_search .submit_button {
    width: 36px
}

.trends {
    text-align: center
}

.trends a,.trends a:visited,.trends a:hover {
    color: #2a3a73;
    background-color: transparent;
    margin-right: 15px;
    line-height: 28px;
    font-size: 16px;
    font-weight: normal
}

.ad_bar {
    text-align: center;
    margin: 10px 0 0 0
}

.saved_sites {
    color: #b2b2b2
}

.custom_site:first-child {
    border-top: none!important
}

.custom_site {
    height: 63px;
    border-top: 1px solid #566390;
    display: block;
    text-decoration: none;
    margin: 0 7px 0 2px
}

.custom_site .right_arrow {
    float: right;
    margin: 24px 5px 0 10px;
    width: 19px;
    height: 19px
}

.custom_site .favicon {
    float: left;
    margin: 15px 10px 0 5px;
    width: 32px;
    height: 32px
}

.custom_site h3 {
    color: #2a3a73;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 0 0 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap
}

.custom_site .display_url {
    font-size: 16px;
    font-weight: normal;
    color: #b2b2b2;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap
}

.quicktips_box {
    text-align: center;
    padding: 5px 2px
}

.quicktips_box a,.quicktips_box a:visited,.quicktips_box a:hover {
    color: #2a3a73;
    line-height: 28px;
    font-size: 16px;
    font-weight: normal
}

#videosurf_attribution {
    text-align: center;
    padding: 3px 0;
    background-color: #08212e
}

#videosurf_attribution a {
    margin: 0 auto;
    width: 240px;
    height: 24px;
    display: block;
    background: transparent url(../img/vslogo.gif) no-repeat 0 0
}

#hdr div.logo {
    position: absolute!important;
    width: 100%;
    height: 39px;
    background-image: url(../img/fireplace/skyfire_s.png);
    background-position: 210px center!important
}

.xmas_ad div {
    text-align: center
}

#trending_video-wrapper {
    position: relative
}

#trending_video_viewport {
    position: relative;
    margin-top: 2px;
    height: 153px;
    overflow: hidden;
    overflow-x: scroll!important
}

#trending_video-wrapper .trending_videos {
    min-width: 2000px!important
}

.trending_videos #loading_videos {
    color: #999;
    font-size: large;
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 140px
}

.trending_videos .trending_video {
    position: relative;
    float: left;
    margin-left: 2px;
    width: 147px
}

.trending_videos .trending_video.first {
    margin-left: 0
}

.trending_video .thumb-wrapper {
    position: relative
}

.trending_video .thumb {
    width: 147px;
    height: 82px
}

.trending_video .playbtn {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px
}

.trending_video .content {
    padding: 0 5px;
    height: 70px;
    overflow: hidden
}

.trending_video h3 {
    margin: 0 0 1px 0;
    padding: 0;
    line-height: .8em;
    overflow: hidden;
    word-wrap: break-word;
    overflow: hidden;
    height: 1.8em
}

.trending_video h3 a {
    color: #001749;
    text-decoration: none;
    font-size: .7em
}

.trending_video .source a,.trending_video .date a {
    font-weight: bold;
    font-size: .7em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    text-decoration: none
}

#trending_video-wrapper.ipad #trending_video_viewport {
    height: 220px
}

#trending_video-wrapper.ipad .trending_videos .trending_video {
    width: 236px
}

#trending_video-wrapper.ipad .trending_video .thumb {
    width: 236px;
    height: 141px
}

#trending_video-wrapper.ipad .trending_video h3 {
    line-height: 1.1em;
    height: 2.2em
}

#trending_video-wrapper.ipad .trending_video h3 a {
    font-size: .9em
}

#trending_video-wrapper.ipad .trending_video .content {
    height: 129px
}
