.fadeContainer {
  display:inline;
}

/*
     FILE ARCHIVED ON 00:16:18 Oct 09, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:38:32 May 03, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.784
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.014
  esindex: 0.015
  cdx.remote: 50.652
  LoadShardBlock: 109.693 (3)
  PetaboxLoader3.datanode: 76.764 (4)
  PetaboxLoader3.resolve: 144.878 (2)
  load_resource: 262.371
*/