html {
	 background-image: url(images/background_html.png);
}

a {
	 color: #414a59;
}

h2 > a {
	 text-shadow: black 0px 0px 0px;
}

.panel > h2 {
	 color: #414a59;
	 text-shadow: black 0px 0px 0px;
}

ul > li {
	 background-image: url(images/background_row.png);
	 color: #666;
}

body > ul > li.group {
	 background: url(images/listGroup.png) repeat-x;
	 border-top: 1px solid #7d7d7d;
	 color: #FFFFFF;
	 font-size: 14px;
	 font-weight: bold;
	 margin-bottom: -2px;
	 padding: 1px 10px 2px 10px;
	 position: relative;
	 text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
	 top: -1px;
}

.checkboxGroup {
	 display: inline-block;
	 float: left;
	 font-size: 16px;
	 padding-bottom: 3px;
	 padding-right: 10px;
	 width: 85px;
}

.icon_rss {
	 background-image: url(images/listRSS.png);
	 float: right;
	 height: 16px;
	 margin-right: 5px;
	 position: relative;
	 top: 4px;
	 width: 16px;
}

.inputCheckbox {
	 margin-right: 5px;
	 padding-left: 6px;
	 width: 10px;
}

.whiteButton {
	 clear: both;
	 font: bold 20px Helvetica;
	 text-transform: lowercase;
	 height: 50px;
	 margin-top: 20px;
}

.searchButton {
	 clear: both;
	 font: 20px Helvetica;
	 text-transform: lowercase;
	 height: 40px;
	 margin-top: 20px;
}

#about_detail {
	 color: #dedede;
	 font-size: 13px;
	 padding-left: 15px;
	 padding-right: 15px;
	 padding-top: 0;
}

.panel_about {
	 background: #868686;
	 box-sizing: border-box;
	 padding: 10px;
}

#bestviewed_msg {
	 text-transform: uppercase;
	 margin-top: 0;
	 margin-bottom: -2px;
	 font: 10px/0 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	 padding: 0;
	 text-align: center;
}

.hiddenPic {
	 display: none;
}